h1 {
  font-size: 42pt;
  word-break: break-all;
}

body#login-body {
  background-image: url('img/login_bg.jpg');
}

.google-login-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divSelected {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
}

.navbar-custom {
  position: fixed;
  z-index: 999999;
  width: 100%;
}

login-button-img {
  width: 32px;
  height: 32px;
}

section#imgSlider {
  width: 100%;
}

.single-slide-div {
  width: 100%;
}

#divCarouselOuter.row {
  display: none;
}

.carousel-custom-style {
  background-color: #000;
  min-height: 710px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-img {
  min-height: 1000px;
  max-height: 1080px;
  height: auto 100%;
  object-fit: fill;
}

section#album-grid {
  padding-top: 100px;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 28pt;
    word-break: break-all;
  }

  .carousel-custom-style {
    background-color: #000;
    height: 300px;
  }
}

@media screen and (max-width: 800px) and (min-width: 400px) {
  h1 {
    font-size: 32pt;
    word-break: break-all;
  }

  .carousel-custom-style {
    background-color: #000;
    height: 400px;
  }
}

li a {
  text-decoration: none;
  cursor: pointer;
}

/* album grid */
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

/* .row {
    margin: 8px -16px;
} */
/* Add padding BETWEEN each column (if you want) */
/* .row, */
.row>.column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 2% !important;
}

.column-inner {
  border: 1px solid #808080;
  border-radius: 7% 7% 7%;
  box-shadow: 0.2px 0.2px 0.5px 3px #808080;
  background-color: #808080;
}

.content-custom {
  border-radius: 7% 7% 7%;
  background-color: #e9ecef;
}

.content-custom img {
  height: 180px;
  width: 100%;
  object-fit: fill;
  border-radius: 7% 7% 7%;
}

#album-footer.row div {
  display: flex;
  align-items: center;
  padding: 3% 7%;
}

#album-footer.row div input[type='checkbox'] {
  float: left;
  vertical-align: center;
}

/* Clear floats after rows */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

.content-selected {
  background-color: navy !important;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) and (min-width: 760px) {
  .column {
    width: 33.3%;
  }
}

@media screen and (max-width: 760px) and (min-width: 400px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .column {
    width: 100%;
  }
}

/* Album Grid */
footer#footer {
  height: 10% !important;
  color: #fff;
}

/* Loader */
.loader-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-outer h4#loaderText {
  padding-left: 7%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.load-complete-icon {
  width: 120px;
  height: 120px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Loader */